<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your transactions</p>


{{#if transactions}}
  <table class="striped responsive-table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Comment</th>
        <th>Type</th>
        <th>Person</th>
      </tr>
    </thead>
    <tbody>
      {{#each transactions}}
      <tr>
        <td>{{category_Id.category_name}}</td>
        <td>{{sub_category_Id.sub_category_name}}</td>
        <td>$ {{amount}}</td>
        <td>{{formatDate date 'ddd, MMM Do YYYY'}}</td>
        <td>{{comment}}</td>
        <td>{{transaction_group}}</td>
        <td>{{user.displayName}}</td>
        <td>
          <a href="/transactions/edit/{{_id}}" class="waves-effect waves-teal btn btn-small btn-float teal lighten-3"><i class="fas fa-edit fa-small"></i></a>
          <form action="/transactions/{{_id}}" method="POST" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class=" waves-effect waves-red btn btn-small red lighten-3">
            <i class="fas fa-trash fa-small"></i>
            </button>
          </form>

          
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
<p>There are no transactions logged yet.</p>
{{/if}}
<div>
{{> _add_btn}}
</div>