<h3>Edit Transaction</h3>    
<form id="edit-transaction-form" action="/transactions/{{transaction._id}}" method="POST">
  <input type="hidden" name="_method" value="PUT">
    <div class="row">   
        <div class="input-field col s12"><i class="material-icons prefix">account_balance_wallet</i>
            <select id="transaction_group" name="transaction_group" class="transaction-group-options">
              {{#select transaction.transaction_group}}
                <option value="" disabled>Transaction Group</option>
                <option value="Expenses">Expenses</option>
                <option value="Income">Income</option>
                {{/select}}
            </select>
            <label for="transaction_group"></label>
        </div>
    </div>
    <div class="row">   
        <div class="input-field col s6"><i class="material-icons prefix">label</i>    
            <input type="text" id="transaction_category" value="{{transaction.category_Id.category_name}}"name="transaction_category"class="transaction-category-auto">
            <label for="transaction_category">Category</label>
        </div>
        <div class="input-field col s6"><i class="material-icons prefix">label_outline</i>
            <input type="text" id="transaction_sub_category" value="{{transaction.sub_category_Id.sub_category_name}}" name="transaction_sub_category"class="transaction-sub-category-auto">
            <label for="transaction_sub_category">Sub-Category</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6"><i class="material-icons prefix">attach_money</i>
            <input id="amount" name="amount" value="{{transaction.amount}}" type="number" >
            <label for="amount">Amount</label>
        </div>
        <div class="input-field col s6"><i class="prefix far fa-calendar-alt"></i>
            <input type="text" class="datepicker" value="{{transaction.date}}" for="date" id="date" name="date">
            <label for="date">Date</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12"><i class="material-icons prefix">comment</i>
            <textarea id="comment" name="comment" class="materialize-textarea">{{transaction.comment}}</textarea>
            <label for="comment">Leave your comment</label>
        </div>
    </div>
    <div class="row">

        <div class="col s12 right-align save-cancel">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange darken-2">Cancel</a>
        </div>
    </div>
  </form>